name: Build and release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - { GOOS: linux, GOARCH: amd64 }
          - { GOOS: linux, GOARCH: arm64 }
          - { GOOS: darwin, GOARCH: amd64 }
          - { GOOS: darwin, GOARCH: arm64 }
          - { GOOS: windows, GOARCH: amd64 }
          - { GOOS: windows, GOARCH: arm64 }

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.23.x"

      - name: Install dependencies
        run: go get .

      - name: Build and archive
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.GOOS }}
          GOARCH: ${{ matrix.GOARCH }}
        run: |
          VERSION="$(git describe --tags)"
          DIR="$(mktemp -d)"
          mkdir "$DIR/eddy"
          go build -trimpath -ldflags="-s -w" -o "$DIR/eddy"
          cp LICENSE "$DIR/eddy"
          cp README.md "$DIR/eddy"

          if [ "$GOOS" == "windows" ]; then
            (cd "$DIR"; zip "eddy.zip" -r eddy)
            ARCHIVE="eddy-$VERSION-$GOOS-$GOARCH.zip"
            mv "$DIR/eddy.zip" "$ARCHIVE"
          else
            ARCHIVE="eddy-$VERSION-$GOOS-$GOARCH.tar.gz"
            tar -cvzf "$ARCHIVE" -C "$DIR" eddy
          fi

          if [ "$GOOS" == "darwin" ]; then
            NEW_ARCHIVE="eddy-$VERSION-macOS-$GOARCH.tar.gz"
            mv "$ARCHIVE" "$NEW_ARCHIVE"
            ARCHIVE="$NEW_ARCHIVE"
          fi

          sha256sum "$ARCHIVE" > "$ARCHIVE.sha256"

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: artifact-${{ matrix.GOOS }}-${{ matrix.GOARCH }}
          path: |
            eddy-*.tar.gz
            eddy-*.zip
            eddy-*.sha256
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: artifacts

      - name: Combine checksums
        run: |
          find artifacts -name '*.sha256' -exec cat {} \; > checksums.txt

      - name: Upload to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            artifacts/**/eddy-*.tar.gz
            artifacts/**/eddy-*.zip
            checksums.txt
